.button {
    -webkit-appearance: none;
    background-color: transparent;
    box-shadow: 0 1px 2px @greyDark;
    color: @greyBright;
    cursor: pointer;
    font-size: 1.5rem;
    .fontBold();
    line-height: 2.5rem;
    outline: none;
    padding: 1rem 3rem;
    border: 1px solid transparent;
    transition: transform 0.3s ease-out;
    &.confirm {
        background: @green;
        border-color: @green;
        box-shadow: 0 1px 2px @greenDark;
        color: @white;
    }

    &.reset {
        background: @greyMid;
        border-color: @greyMid;
        box-shadow: 0 1px 2px @greenDark;
        color: @white;
    }

    &.cancel {
        background: @red;
        border-color: @red;
        box-shadow: 0 1px 2px @greenDark;
        color: @white;
    }

    &.blue {
        background: @blue;
        border-color: @blue;
        box-shadow: 0 1px 2px @greenDark;
        color: @white;
    }

    &.grey {
        background: @greyDark;
        border-color: @greyDark;
        color: @white;
    }
    &.transparent {
        background: transparent;
        border: 1px solid @white;
        color: @white;
        box-shadow: none;
        .icon {
            color: @white;
        }
    }

    &:active {
        box-shadow: none;
        -webkit-transform: translateY(2px);
    }


    .icon {
        display: inline;
        font-size: 2rem;
        position: relative;
        top: .25rem;
        margin-right: .5rem;
    }
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &.noStyle {
        appearance: none;
        background: none;
        border: none;
        padding:0;
        margin:0;
        box-shadow: none;
        line-height: normal;
    }
}