.editableMarkerList {
    max-width: 890px;
}
.editableMarkerList__list {
    list-style: none inside;
}

.editableMarkerList__item {
    display: flex;
    height: 4rem;
    margin-bottom: .25rem;
    border-bottom: 1px solid @greyBright;
    font-size: 1.5rem;
    justify-content: flex-start;

}
.editableMarkerList__buttons {
    margin-top: 20px;
    button {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.editableMarkerList__item__color,
.editableMarkerList__item__metric,
.editableMarkerList__item__delete {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.editableMarkerList__item__label {
    flex-grow: 999;

    input {
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        color: @black;
        outline: none;
        .fontLight();
        line-height: 3.8rem;
        font-size: 1.5rem;
        position: relative;
        margin: .1rem 0;
        width: 100%;
    }
}

.editableMarkerList__item__color {
    flex-grow: 0;
    width: 50px;
    padding: 0 10px;
    box-sizing: border-box;
}

.editableMarkerList__item__metric {
    flex-grow: 0;
    width:100px;
    padding: 0 10px;
    box-sizing: border-box;
}

.editableMarkerList__item__delete {
    flex-grow: 0;
    width: 50px;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 2rem;
    justify-content: center;

}

.editableMarkerList__item__deleteBtn {
    cursor: pointer;
    text-align: center;
    color: @greyDark;
    .icon {
        margin:0;
        top: 0;
    }
}

.editableMarkerList__addMarker {
    display: inline-block;
    border: none;
    color: @blue;
    cursor: pointer;
    outline: none;
    .fontLight();
    font-size: 1.5rem;
    padding: 1rem 0;
    position: relative;
    .transition400ms();

    .icon {
        display: inline-block;
        font-size: 1.8rem;
        position: relative;
        top: .2rem;
        margin-left: .75rem;
    }

    &:hover {
        color: @blueBright;
    }
}