@import "../../../styles/vars.less";

.colorPicker {
    display: inline-block;
    .clearfix();
}

.colorPicker__color {
    border-radius: 50%;
    border: 1px solid @greyBright;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    width: 30px;
    transition: background-color 0.3s ease-out;
}

.colorPicker__layer {
    display: flex;
    flex-direction: column;
    width: 130px;
}

.colorPicker__pickerContainer {
    display: flex;
    flex-direction: row;
}

.colorPicker__picker {
    cursor: crosshair;
    width: 100px;
    height: 80px;
    margin-right: 1em;
    position: relative;
    flex-grow: 0;
}

.colorPicker__slide {
    cursor: crosshair;
    height: 80px;
    position: relative;
    width: 20px;
    flex-grow: 0;
}

.colorPicker__layer__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 0 0;
}

.colorPicker__cancel,
.colorPicker__confirm {
    cursor: pointer;
    appearance: none;
}

.colorPicker__cancel {
    color: @red;
    font-size: 1.5rem;
}

.colorPicker__confirm {
    color: @green;
}